<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #postData="ngForm" (ngSubmit)="postData(userPost.value)">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput name="email" placeholder="Username" [(ngModel)]="email" >
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput name="password" placeholder="Password" [(ngModel)]="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="postData()">Log in</button>
      </form>
      
    </mat-card>
  
  </div>