<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.7Classes.com" target="_blank" class="positronx">7Classes Payment Gateway</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    <a mat-button mat-raised-button routerLink="pay" routerLinkActive="active">RazorPay</a>
    <a mat-button mat-raised-button routerLink="paymentdetail" routerLinkActive="active">PaymentDetail</a>
    <a mat-button mat-raised-button routerLink="paymenthistory" routerLinkActive="active">PaymentHistory</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>